{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid mt-3">
    {% for shot_group in shot_groups %}
      <div class="row mb-5">
        <h2>{{ shot_group.title }}</h2>
        {% for shot in shot_group.shots.all %}
          <a class="text-decoration-none" style="width: 12.5%;" href="{{ shot.title }}">
            <div class="card">
              <!-- <img class="card-img-top" src="{{project.preview.url}}" /> -->
              <div class="card-body p-1 ps-2">{{ shot.title }}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
