{% extends "base.html" %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger alert-dismissible fade show m-2">
        {{ message }}
        <button class="btn-close" type="button" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
  <div class="col-2 offset-5 vh-100 d-flex flex-column justify-content-center">
    <form method="post">
      {% csrf_token %}
      <input
        class="form-control-lg mb-2 w-100"
        type="email"
        name="email"
        placeholder="Email"
        required
      />
      <input
        class="form-control-lg mb-2 w-100"
        type="password"
        name="password"
        placeholder="Password"
        required
      />
      <button class="btn btn-secondary w-100" type="submit">Login</button>
    </form>
  </div>
{% endblock %}
